# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# private directory
.private/

# legacy development directory
.legacy/

# SQLite database files
*.db

# Uploads directory
uploads/

#environment file
.env

# Data directory
data/
